html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Noto Serif KR', sans-serif;
  background-color: white;
  font-size: 16px;
  text-align: center;
  overflow-x: hidden;
}

#header {
  background-image: url("https://images.unsplash.com/photo-1494783435443-c15feee0a80a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=eb29026032f43ef55c871ce01b30b117&auto=format&fit=crop&w=1351&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 10%;
  padding-bottom: 25%;
  color: white;
}

.navbar, .navbar-brand, .navbar a {
  font-size: 1.625rem;
  background-color: #4e709d /*#2874A6*/ /*#AED6F1*/  /*#50729F*/;
  padding-left: 0.10rem;
  margin: 0;
  color: white;
  /*opacity: 0.85;*/
}

button {
  background-color: white;
  color: white;
}

#aboutMe {
  margin-top: 1.25rem;
}

#experience i {
  font-size: 7rem;
}

.fa-code {
  color: #E54D26;
}

.fa-css3-alt {
  color: #379AD5;
}

.fa-js {
  color: #F99D36;
}

.fa-python {
  color: #FFE873;
}

.fa-certificate {
  color: #FFD700;
  margin-left: 0.625rem;
}

.card-deck h5 {
  font-weight: 700;
}

.card-deck p {
  font-size: 1rem;
}

.card-img-top {
  width: 100%;
  height: 20vh;
  object-fit: cover;
}

.card-body .btn {
  background: #4e709d;
  color: white;
}

section {
  margin: 1.25rem auto;
}

h1, h3 {
  font-weight: 620;
}

p {
  font-size: 1.25rem;
}

hr {
  width: 75%;
  border: 0.5px solid #CBD8E0;
}

a {
  /*color: #5499C7;*/
  color: black;
}

a:hover {
  color: #005792 !important;
  /*#1A5276*/
  text-decoration: none;
}

h6 {
  font-size: 1.75rem;
}

footer {
  padding: 1rem 0;
  /*background: #50729F;*/
  background: #4e709d;
}

.fa-linkedin-in, .fa-at, .fa-phone, .fa-medium {
  font-size: 1.75rem;
}


/*Media Queries*/

@media (min-width: 577px) and (max-width: 768px) {
  #header h2 {
    font-size: 1.5rem;
  }
  
  .navbar-brand {
    margin-left: 0.75rem;
  }
  
}

@media (max-width: 576px){
  #header h2 {
    font-size: 1rem;
    margin-top: 3%;
  }
  
  #experience i {
    font-size: 5rem;
  }
  
  #experience h6 {
    margin: 20px;
  }
  
  .fa-linkedin-in, .fa-at, .fa-phone, .fa-medium {
    font-size: 1.25rem;
  }
  
  #linkedin a {
    font-size: 1.25rem;
  }
  
  .navbar-brand {
    margin-left: 0.75rem;
  }
}
