html, body {
  height: 100%;
  width: 100%;
  font-family: 'Noto Serif KR', sans-serif;
  background-color: #fff;
  text-align: center;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

h1, h3 {
  font-weight: 620;
}

h6 {
  font-size: 1.75rem;
}

p {
  font-size: 1.25rem;
}

#header {
  background-image: url("diego-jimenez-258123-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 10% 0 25% 0;
  margin: 0;
}

#header, .navbar, .navbar-brand, .navbar a, .hamburger-btn, .card-body .btn {
  color: white;
}

.navbar, .navbar-brand, .navbar a {
  font-size: 1.5rem;
  background-color: #4e709d;
  padding-left: .1rem;
}

.bar, .bar-mobile {
  background-color: #4e709d;
  opacity: 0.8;
  font-size: 1.25rem;
}

.bar {
  width: auto;
  height: 3rem;
  padding: 0.5rem;
}

.bar a {
  padding: 0 0.5rem;
}

.bar-icon, #about-me p {
  font-size: 1.25rem;
}

.bar-mobile {
  display: none;
  height: 2rem;
}

.bar-mobile a {
  padding: 1rem 0.5rem;
  font-size: 1.25rem;
}

#about-me p, #name {
  text-align: left;
}

#profile-pic {
  border: 4px solid #4E709D;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: left bottom;
  display: inline;
}

#skills, #portfolio {
  background: #fafafa;
}

#skills i {
  font-size: 7rem;
}

.fa-code {
  color: #E54D26;
}

.fa-css3-alt {
  color: #379AD5;
}

.fa-js {
  color: #F99D36;
}

.fa-bootstrap {
  color: #563D7C;
}

.fa-node {
  color: #72A761;
}

.fa-git-square {
  color: #f05033;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-deck h5 {
  font-weight: 700;
}

.card-deck p {
  font-size: 1rem;
}

.card-img-top {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.card-body .btn, footer {
  background: #4e709d;
}

hr {
  width: 25%;
  border: 0.5px solid #CBD8E0;
  margin: 0.5rem auto 0;
}

a {
  color: black;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

footer {
  padding: 0.5rem 0;
}

.contact-icon {
  font-size: 1.5rem;
  padding: 1rem;
}

/*Media Queries*/

@media (max-width: 768px) {
  #header h2 {
    font-size: 1.5rem;
  }
  
  #profile-pic {
    margin-top: 2rem;
  }
  
  #about-me p {
    font-size: 1.25rem;
  }
  
  #about-me p, #name {
    text-align: center;
  }
  
  .bar {
    display: none;
  }
  
  .bar-mobile {
    display: block;
  }
  
}

@media (max-width: 576px){
  #header {
    height: 40vh;
  }
  
  #header h2 {
    font-size: 1.25rem;
    margin-top: 1rem;
  }
  
  #skills i {
    font-size: 5rem;
  }
  
  #experience h6 {
    margin: 20px;
  }
}
